[Unit]
Description=Sync IP
#Requires=sync_ip.service

[Service]
ExecStart=/bin/bash /usr/local/lightgate/sync_ip/sync_ip.sh
#User=pi_emitter

[Install]
WantedBy=multi-user.target

