[Unit]
Description=Sync data
Requires=ir_receiver.service

[Service]
ExecStart=/bin/bash /usr/local/lightgate/sync_data/sync_data.sh
#User=pi_receiver

[Install]
WantedBy=multi-user.target

