[Unit]
Description=Manage the data local data

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/lightgate/archive_management/archive_management.sh

