[Unit]
Description=IR Receiver
Requires=systemd-timesyncd.service

[Service]
Type=simple
ExecStart=/bin/python3 receiver/receiver_functional.py -r $ROOMNAME -d $DOORNUMBER 
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target