[Unit]
Description=IR Emitter
Requires=pigpiod.service 

[Service]
ExecStart=/usr/bin/python3 /usr/local/lightgate/emitter/emitter_functional.py
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
